.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/webfontkit-roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html{
    height: 100vh;
    width: 100vw;
    font-family: robotoregular;
     
}

body{
    height: calc(100% - 150px);
    margin: 75px 0px;
    color: white;   
}
 
main{
    height: 100%;
    width: 100%;
}

#groupNav span{
    color:rgb(40, 40, 40);
}

#leaveGroupButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px black;
}
#leaveGroupButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}

#groups-go-here{
    list-style-type: none;
    margin: 0px;
    height: 20%;
}

#group-grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40% 10%;
    grid-template-rows: 25% 20% 40% 15%;
    grid-template-areas: 
    "title title type"
    "building time time"
    "description description participants"
    "leave leave leave"
}

#group-title{
    grid-area: title;
}

#group-type{
    grid-area: type;
}

#group-building{
    grid-area: building;
}

#group-time{
    grid-area: time;
}

#group-participants{
    grid-area: participants;
}

#group-description{
    grid-area: description;
    
}

#group-leave{
    grid-area: leave;
}


/*Styling for chat*/
#messages{
    margin: 10px 5px;
}

#messages li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 10px;
    color: black;
    width: 50%;
    font-size: min(4vw, 14pt);
}

li span {
    font-weight: bolder;
}

#chat{
    height: 20%;
    overflow: hidden;
}

#chat-window {
    width: 100%;
    height: min(150px, 20vh);
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid rgb(37, 78, 120);
    border-radius: 5px
}
#message-form {
    text-align: center;
    width: 100%;
}

#message-input{
    width: 80%;
    margin-top: 15px;
    border-radius: 5px;
}

#message-submit{
    width: max(15%, 52px);
    border-radius: 5px;
}

li:has(span[class="sender"]) { 
    margin-left: 50%;
}

li:has(span[class="reciever"]) {
    margin-right: 50%;
}

.sender:after, .receiver:after{
    content: ":  "
}

.sender{
    display: block;
    font-size: smaller;
    color: grey;
}

.receiver{
    display: block;
    font-size: smaller;
    color: grey;
}

/*Styling for group container*/

#currentGroupContainer{
    padding-top: 12px;
    padding-bottom: 12px;
}

/*filter and searchbar*/
  

 

