@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&display=swap');
/* font-family: 'lato', 'Merriweather', 'Montserrat', sans-serif; */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-56 {
    font-size: 56px;
}

::-webkit-scrollbar {
    width: 0px;
}


#mapNav span {
    color: rgb(40, 40, 40);
}

body {
    height: calc(100% - 75px);
    margin: 0px 0px 75px 0px;
    color: white;
}

main {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    height: 0px;
}

#map {
    height: 100%;
    width: auto;
    /* margin-top: 75px; */
}