@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&display=swap');
/* font-family: 'lato', 'Merriweather', 'Montserrat', sans-serif; */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-56 {
    font-size: 56px;
}

::-webkit-scrollbar {
    width: 0px;
}


#mapNav span {
    color: rgb(40, 40, 40);
}

body {
    height: calc(100% - 75px);
    margin: 0px 0px 75px 0px;
    color: white;
}

main {
    height: 100%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}

main::-webkit-scrollbar {
    height: 15px;
}

#main-container{
    display: grid;
}

#map {
    height: 100%;
    width: auto;
    /* margin-top: 75px; */
    grid-column: 1;
    z-index: 0;
    grid-row: 1;
    
}

.wrapper{
    background-color: black;
    height: 100%;
    width: auto;
    opacity: 50%;
    grid-column: 1;
    grid-row: 1;
}

#se161{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#dorm1{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#sw91{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#library1{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#se121{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#se11{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#sw91{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#nw1{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#ne8211{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#ne9121{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#ne11{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;   
}

#ne28201{
    height: 100%;
    width: auto;

    grid-column: 1;
    grid-row: 1;
}

#track1{
    height: 100%;
    width: auto;
    
    grid-column: 1;
    grid-row: 1;   
}

#sw1{
    height: 100%;
    width: auto;
    
    grid-column: 1;
    grid-row: 1;   
}

.zhigh{
    z-index: 4;
}

.zmiddle{
    z-index: 3;
}

.zlow{
    z-index: -4;
}

