
body {
    height: calc(100% - 150px);
    margin: 75px 0px;
    color: white;
}

main {
    height: 100%;
    width: 100%;
}

#profileContainer {
    padding: 15px;
}

#clickables {
    display: flex;
    flex-direction: row;
}

#logout {
    flex-grow: 1;
}