.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }

.centering-container{
    margin-top: 120px;
    margin-bottom: 85px;
    border-radius: 5%;
}


#createGroupButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px black;
}
#createGroupButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}
#leaveGroupButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px black;
}
#leaveGroupButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}