.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }

html{
    height: 100vh;
    width: 100vw;  
     
}

body{
    height: calc(100% - 166.4px);
    margin: 82.4px 0px;
    color: white; 
    
}
header, nav, footer{
    max-width: 100vw;
    color: white; 
}

.clickbox{
    height: 100%;
    width: 100%;
    margin: 0;
}
main{
    height: 100%;
    width: 100%;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centering-container{
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 3px black; 
}

.newButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px black;
}
.newButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}

#createButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px black;
}
#createButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}

#currentGroupContainer{
    max-width: 80%;
}



#leaveGroupButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 4px black;
}
#leaveGroupButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}
#header-logo{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bg-BCIT{
    background-color:rgb(24, 64, 105);
    color: white; 
}
button[class*="bg-BCIT"]:hover{
    background-color:rgb(24, 64, 105);
}

.background-map{
    background-image: url("../images/BCIT_Map2_Low_Opacity.png");
}

#activities-go-here{
    color: black;
}

.blacktext{
    color:black;
}

/*Styling for scrollbar*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background-color: rgb(182, 182, 182);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: grey; 
}

/*Styling for chat*/
#messages{
    margin: 10px 5px;
}

#messages li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #e8e8e8;
    padding: 5px;
    border-radius: 10px;
    color: black;
    width: 50%;
}

li span {
    font-weight: bolder;
}

#chat-window {
    width: 100%;
    height: 200px;
    margin: auto;
    overflow-y: scroll;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgb(37, 78, 120);
    border-radius: 5px
}
#message-form {
    text-align: center;
    width: 100%;
}

#message-input{
    width: 80%;
    margin-top: 15px;
    border-radius: 5px;
}

#message-submit{
    width: 15%;
    border-radius: 5px;
}

li:has(span[class="sender"]) { 
    margin-left: 50%;
}

li:has(span[class="reciever"]) {
    margin-right: 50%;
}

.sender:after, .receiver:after{
    content: ":  "
}

.sender{
    display: block;
    font-size: smaller;
    color: grey;
}

.receiver{
    display: block;
    font-size: smaller;
    color: grey;
}

/*Styling for activities*/
#activities-container{
    padding: 25px;
}

/*filter and searchbar*/
#activity-search-input {
    background-image: url('../images/searchicon.png'); 
    background-position: 10px 12px; 
    background-size: 23px;
    background-repeat: no-repeat; 
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
  }
  
  #activities-go-here{
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    max-height: 50vh;
    overflow-y: scroll;
  }
 

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    margin-top: 10px;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
  }

  .activityTemplate li{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
  }
  
  .panel {  
    padding: 0px 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.panel span{ 
padding: 0px 18px;
margin: 0px;
background-color: white;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
}


.search-queries{
    display: inline-block;
}

.accordion{
    display: grid;
    grid-template-columns: 75% 15% 10%;
    grid-template-rows: auto;
    grid-template-areas:
    "search-queries participant-number arrow"
    
}
.search-queries{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    "title activity-type building"
}

.accordion > span{
    
    display: flex;
    justify-content: flex-end;
}




