.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }

@font-face {
    font-family: 'robotoregular';
    src: url('/font/roboto-regular-webfont.woff2') format('woff2'),
         url('/font/roboto-regular-webfont.woff') format('woff'),
         url('/font/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
    font-family: robotoregular, sans-serif;
}

html{
    height: 100vh;
    width: 100vw;     
}

footer{
    max-width: 100vw;
    color: rgb(0, 0, 0); 
    border: 1px solid lightgrey;
    border-radius: 0px;
}

nav{
    border-radius: 50px;
    border: 1px solid rgb(202, 202, 202);
}

.clickbox{
    height: 100%;
    width: 100%;
    margin: 0;
}

.newButton{
    margin: 0 auto;
    border: 1px solid black;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px black;
}
.newButton:hover{
    background-color:rgb(187, 187, 187);
    box-shadow: 1px 1px 0px black;
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.centering-container{
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 3px black; 
}

#header-logo{
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bg-BCIT{
    background-color:rgb(255, 255, 255);
    color: rgb(113, 113, 113); 
}



button[class*="bg-BCIT"]:hover{
    background-color:rgb(206, 206, 206);
}

.background-map{
    background-image: url("../images/BCIT_Map2_Low_Opacity.png");
}

.blacktext{
    color:black;
}

/*Styling for scrollbar*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background-color: rgb(182, 182, 182);
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: grey; 
}

/*Styling for chat*/
